## Application Details

ForumFollow is a Discord bot that allows users to subscribe to and follow forum channels across different Discord servers that have the bot installed. Essentially converting a forum channel into an announcement channel. 
Showcase video: https://youtu.be/n68hrGG2Kqw

## Message Content Intent
Opt-out: Yes
Storing Outside: No
Public Privacy Policy: Yes
  Where? ```
    The privacy policy is available within the help command ( https://discord.mx/HixEwqK8Vg.png ). It is also found within the channel when setting up with automatic post creation ( https://discord.mx/2RxtKMXt2y.png ). It is also found in the footer of the invite page ( https://discord.mx/rYlZgyawV2.png )
  ```
  Share: https://gist.github.com/DanPlayz0/ecbbfb7104570e366353a056b9e254d2

Data for ML? No

Why need it?
```
The bot's core function is to relay forum posts to news channels, between discord servers. Therefore needing the message content intent. Server Managers (users with Manage Server permissions) are able to set a forum channel as a "followable" channel via `/set` and then select to either auto-post when someone posts, or use a context menu interaction after posting to "publish" to other servers.
```

Links/Screenshots to demonstrate:
```
Help command: https://discord.mx/ZgxILfdCHh.png

Setup:
1. (/set) https://discord.mx/OxQScawhfF.png
2. (after /set, bot sends) https://discord.mx/1OvNE5YwMT.png
3. (/follow) https://discord.mx/8OzjbZvDsf.png

Followed/Relayed/Subscribed Message:
- https://discord.mx/eilh2JA2WW.png

Showcase: https://www.youtube.com/watch?v=n68hrGG2Kqw
```